<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/Media/ing.webp" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title">Product Title</h5>
                    <p class="card-text">
                        Estado
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="card-text"><h4>$$$$</h4></p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>