<div class="container-fluid contenedor-productos">
    <div class="row row-cols-1 row-cols-md-4">
        <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
                <%- include('card', {data: data[i], indice: i, media: data[i]['media'], session: session}); %>
                    <% } %>
                        <% } %>
    </div>
</div>
<% if(paginacion){ %>
    <%- include('../paginador/paginador', {paginacion: paginacion}); %>
        <% } %>