<!DOCTYPE html>
<html lang="en">
<%- include('component/utilidades/header');%>
    <%- include('component/utilidades/navegador', {session:session});%>
        <body>
            <div class="container-fluid contenido">
                <div class="row">
                    <div class="col-sm">
                        <img src="" alt="">
                    </div>
                    <div class="col-sm">
                        <h2>¿Por que un Template de un E-Comerce?</h2>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos cupiditate voluptatibus officia tempora sit pariatur aliquid, laboriosam odio neque facilis veritatis, ex magni id totam adipisci ad magnam in provident?
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2>¿Como puedo usar este template?</h2>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, veritatis amet aspernatur illum ex repellendus cumque molestiae libero voluptas et similique facere tempore maiores vel impedit consequatur sint. Nostrum, voluptatum.
                    </div>
                    <div class="col-sm">img</div>
                </div>
                <div class="row">
                    <div class="col-sm">img</div>
                    <div class="col-sm">
                        <h2>¿Como pueden ayudarme a Mantener este Template?</h2>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quaerat quod consequatur laudantium voluptatem culpa harum. Officia, quos hic sapiente nam nobis quae, modi dignissimos veritatis accusantium tempore, nihil sequi?
                    </div>
                </div>
            </div>
        </body>
        <%- include('component/utilidades/footer');%>

</html>