<!DOCTYPE html>
<html lang="en">
<%- include('component/utilidades/header');%>

    <body class="h-100 w-100 container-fluid d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <script src="/Js/validarfomulario.js"></script>
            <script src="/Js/jquery.sha256.js"></script>
            <form action="/perfil/registro/procesar" method="POST" class="m-1" onsubmit="return validarRegistro()" id="formulario">
                <div class="form-group">
                    <label for="email">Usuario:</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="example@mail.com">
                    
                    <label for="contrasenia">Contrase単a</label>
                    <input class="form-control" type="password" name="contrasenia" id="contrasenia" placeholder="contrase単a">
                    
                    <label for="confirmarContrasenia">Confirmar Contrase単a</label>
                    <input class="form-control" type="password" name="confirmarContrasenia" id="confirmarContrasenia" placeholder="contrase単a">
                    <br>
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-success" onclick="sendForm()">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>