<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>autor</h5>
            </div>
            <div class="col-sm">
                <h5>datos fiscales</h5>
            </div>
            <div class="col-sm">
                <h5>contacto</h5>
            </div>
        </div>
    </div>
</footer>