<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
      <img src="Media/logo.png" alt="" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons md-color">
          menu
      </i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link text-center" href="/">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-center" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-center" href="">Contacto</a>
          </li>
      </ul>
      <div class="d-flex justify-content-center">
        <%if(typeof(session) != "undefined"){%>
        <a href="/favoritos" class="btn">
          <i class="material-icons">
            favorite
          </i>
        </a>
        <span class="badge badge-pill badge-light align-middle" onclick="abrirVentana('/carrito');">
          4
          <i class="material-icons">
            shopping_cart
          </i>
        </span>
        <div class="dropdown">
          <button class="btn badge-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">
              person
            </i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="btn" href="/perfil">Perfil</a>
            <a class="btn" href="/perfil/salir">Salir</a>
            <% if(session.tipo == "admin"){ %>
              <a class="btn" href="/administrar">Administrar</a>
            <% } %> 
          </div>
        </div>
        <%}else{%>
          <div class="dropdown">
            <a href="/perfil/login">
              <span class="badge badge-pill badge-light align-middle">
                <i class="material-icons">
                  favorite
                </i>
              </span>
            </a>
          </div>
          <a href="/perfil/login">
            <span class="badge badge-pill badge-light align-middle" onclick="abrirVentana('/carrito');">
              <i class="material-icons">
                shopping_cart
              </i>
            </span>
          </a>
          <a class="btn badge-light" href="/perfil/login" type="button">
            <i class="material-icons">
              perm_identity
            </i>
          </a>
        <%}%>
      </div>
      <form action="/productos/buscar" method="GET" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
        <div class="form-group mb-2">
          <input class="form-control" type="search" name="busqueda" placeholder="Buscar Producto" aria-label="Search">
        </div>
        <button class="btn btn-outline-success mb-2" type="submit">
          <span class="material-icons" style="font-size: 18px;">
            search
          </span>
        </button>
      </form>
  </div>
</nav>
<script>

</script>