<div class="d-flex flex-row-reverse">
    <div class="card col-md-4">
        <div class="card-body">
          <p class="card-text">Productos (2): $$$$</p>
          <p class="card-text">Envio: $$$$</p>
          <hr>
          <p class="card-text"><h4>$$$$</h4></p>
        </div>
      </div>
</div>